# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IntelliJ temporary files
.idea

# Cmake temporary files
build
cmake-build-debug
cmake-build-release
cmake-build-debug-coverage
cmake-build-release-coverage

# Uncompressed sample raw files
**/*.arw
**/*.cr2
**/*.3fr
**/*.ppm
**/*.pgm
**/*.pam
**/*.DS_Store

# Data created by program
default.profraw
